#location .bar-header{
    background-color: #f74225;
    width: 100%;
    height: 64px;}

#location .bar-header h1{line-height: 44px;color:#fff;  height: 44px;  margin-top: 20px;font-family: "microsoft yahei";}

#location .back{line-height: 44px;color:#fff;  height: 44px;  margin-top: 20px;margin-left:9px;
    padding:0;border:none;}

#location .has-header{top:63px;
    border-bottom:1px solid #ccc;}
#location h4{font-size: 13px;font-family: "microsoft yahei";color:#000;}
#location p{font-size: 12px;font-family: "microsoft yahei";}
#location a{padding-left:0;margin-left:17px;border-left:none;  border-bottom:none;}
#location .ion-edit{color:#bbb;}
#location .edit{
    display: block;
    width: 15px;
    height: 15px;
    background: url("../images/edit.png") no-repeat center/cover;margin-top:29px;font-size: 20px}